In [1]:
var= 10
print(var,type(var))
var = "hellow"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
hellow <class 'str'>
3.14 <class 'float'>

In [2]:
#calculator
num1= float(input("enter the first number:"))
num2 = float(input("enter the second number"))

sum = num1 + num2
difference = num1 - num2
product = num1*num2
quotient = num1/num2

print("sum:", sum)
print("difference:",difference)
print("product:", product)
print("quotient:",quotient)

sum: 205.0
difference: -21.0
product: 10396.0
quotient: 0.8141592920353983

In [3]:
num = int(input("enter the numbre"))


if num>0:
    print("the number is positive")
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")
else:
    print("the number is negative")

the number is positive
the number is even

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [8]:
count =0

while count<5:
    print(count)
    count +=1

0
1
2
3
4

In [9]:
for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [10]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [12]:
for i in range(10):
    if i==3:
        print("the number is",i)
        pass
    print(i)

0
1
2
the number is 3
3
4
5
6
7
8
9

In [13]:
for i in range(5):
    for j in range(4):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:2 and j:3
i:3 and j:0
i:3 and j:1
i:3 and j:2
i:3 and j:3
i:4 and j:0
i:4 and j:1
i:4 and j:2
i:4 and j:3

In [5]:
num = int(input("enter the number:"))
sum = 0
count = 1
while count<= num:
    sum = sum + count
    count = count +1
print("sum",sum)

sum 55

In [6]:

for i in range(num+1):
    sum = sum+i
print(sum)

110

In [13]:
prime_numbers = []
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i ==0:
                break
        else:
            prime_numbers.append(num)
   
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [14]:
list = ["krish", "jack", 1,2 ,3,4]

In [31]:
print(list[1:])
print(list[-1])
print(list[::2])

['p', 'orange', 'orange', 'orange', 'orange', 'l', 'krish', 'e', 'benana', 'benana', 'benana', 'a']
a
['p', 'orange', 'orange', 'l', 'e', 'benana', 'a']

In [18]:
list[2] = "watermelon"
print(list)

['krish', 'jack', 'watermelon', 2, 3, 4]

In [19]:
list[1:] = "apple"
print(list)

['krish', 'a', 'p', 'p', 'l', 'e']

In [ ]:
#this would add it to the end of the list
list.append("orange")
#this adding to specific index
list.insert(3,"benana")
#remove the first occurance of an item
list.remove("orange")
 
print(list)

['krish', 'a', 'p', 'benana', 'benana', 'benana', 'p', 'l', 'e', 'orange', 'orange', 'orange', 'orange', 'orange']

In [26]:
popped_list = list.pop()
print(popped_list)
print(list)

orange
['krish', 'a', 'p', 'benana', 'benana', 'benana', 'p', 'l', 'e', 'orange', 'orange', 'orange', 'orange']

In [30]:
index = list.index("orange")
count = list.count("orange")
list.sort()
list.reverse()
print(list)

['p', 'p', 'orange', 'orange', 'orange', 'orange', 'l', 'krish', 'e', 'benana', 'benana', 'benana', 'a']

In [33]:
for i in list:
    print(i)

p
p
orange
orange
orange
orange
l
krish
e
benana
benana
benana
a

In [ ]:
#iterate with index of the list
for index,i in enumerate(list):
    print(index,i)

0 p
1 p
2 orange
3 orange
4 orange
5 orange
6 l
7 krish
8 e
9 benana
10 benana
11 benana
12 a

In [ ]:
for i in range(1,10):
    list.append(i**2)
print(list)

['p', 'p', 'orange', 'orange', 'orange', 'orange', 'l', 'krish', 'e', 'benana', 'benana', 'benana', 'a', 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
[i**2 for i in range(10) if i%2 ==0]

[0, 4, 16, 36, 64]

In [40]:
list1 = [1, 2, 4, 3, 5] 
list2 = ['a','b','c','d','e']
pair = [[i,j] for i in list1 for j in list2 ]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [42]:
words = ["hellow","whats","your","name"]
lenght = [len(i) for i in words] 
print(lenght)

[6, 5, 4, 4]

In [45]:
newtuple = ()
newtuples = tuple()
newlist = []

In [57]:
#a list can convert to a tuple and vise versa
number = tuple([1,2,3,4,5,6,7,8,9,0])
elements = ['a','b','c','d']
elements = tuple(elements)
elements

('a', 'b', 'c', 'd')

In [58]:
concatenat_tuples = elements + number
concatenat_tuples

('a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [ ]:
#the entire tuple appended 3 times
concatenat_tuples*3

('a',
 'b',
 'c',
 'd',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 'a',
 'b',
 'c',
 'd',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 'a',
 'b',
 'c',
 'd',
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0)

In [64]:
print(concatenat_tuples.count(4))

1

In [67]:
packed_tuple = 1,2,3,"hi","no"
print(packed_tuple)
a,b,c ,d,e= packed_tuple
print(a,b,c)

(1, 2, 3, 'hi', 'no')
1 2 3

In [68]:
packed_tuple = 1,2,3,"hi","no"
first, *middle, last = packed_tuple
print(first,middle,last)

1 [2, 3, 'hi'] no

In [83]:
list1 = [[m*2] for m in range(15)]
list2 = [['a',j] for j in range(6)]
list = joinedlist = list1 + list2
list

[[0],
 [2],
 [4],
 [6],
 [8],
 [10],
 [12],
 [14],
 [16],
 [18],
 [20],
 [22],
 [24],
 [26],
 [28],
 ['a', 0],
 ['a', 1],
 ['a', 2],
 ['a', 3],
 ['a', 4],
 ['a', 5]]

In [80]:
list[20][0:2]

['a', 5]

In [84]:
nested_tuple = tuple(list)
nested_tuple

([0],
 [2],
 [4],
 [6],
 [8],
 [10],
 [12],
 [14],
 [16],
 [18],
 [20],
 [22],
 [24],
 [26],
 [28],
 ['a', 0],
 ['a', 1],
 ['a', 2],
 ['a', 3],
 ['a', 4],
 ['a', 5])

In [85]:
#with this statement whenever its print it would pring along side a blank new line
for sub_tuple in nested_tuple:
    for i in sub_tuple:
        print(i,end = "")
    print( )

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
a0
a1
a2
a3
a4
a5

In [89]:
dictionrai = dict()
dictionrai ={}

In [ ]:
student = {"name":"krish","Age":12,"height":120,"grade":'a'}
print(student["Age"])
print(student.get("height"))
student["address"] = "india"
del student["Age"]
student

12
120

{'name': 'krish', 'Age': 12, 'height': 120, 'grade': 'a', 'address': 'india'}

In [98]:
keys = student.keys()
keys
values = student.values()
values
items = student.items()
items

dict_items([('name', 'krish'), ('Age', 12), ('height', 120), ('grade', 'a'), ('address', 'india')])

In [99]:
student_copy = student.copy()
student_copy

{'name': 'krish', 'Age': 12, 'height': 120, 'grade': 'a', 'address': 'india'}

In [101]:
for keys in student.keys():
    print(keys)

name
Age
height
grade
address

In [102]:
for values in student.values():
    print(values)

krish
12
120
a
india

In [103]:
for keys,values in student.items():
    print(f"{keys} :{values}")

name :krish
Age :12
height :120
grade :a
address :india

In [105]:
students = { 
            "student1" :{"name":"krish","Age":12,"height":120,"grade":'a'},
            "student2" :{"name":"mahi","Age":20,"height":190,"grade":'b'}
}
print(students["student1"]["Age"])

12

In [108]:
for student_id, student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'krish', 'Age': 12, 'height': 120, 'grade': 'a'}
name:krish
Age:12
height:120
grade:a
student2:{'name': 'mahi', 'Age': 20, 'height': 190, 'grade': 'b'}
name:mahi
Age:20
height:190
grade:b

In [111]:
squares = {x:x**2 for x in range(10) if x%2==0}
squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [116]:
list  = [1,2,3,4,5,6,6,6,6,6,7,8,9,9,0,0,2]
dict={}

for i in list:
    if i in dict:
        dict[i]+=1
    else:
        dict[i] = 1
        
print(dict)

{1: 1, 2: 2, 3: 1, 4: 1, 5: 1, 6: 5, 7: 1, 8: 1, 9: 2, 0: 2}

In [117]:
dict1 = {"a":1 , "b":2}
dict2 = {"c":1 , "d":2}

merged_dic = {**dict1,**dict2}
merged_dic

{'a': 1, 'b': 2, 'c': 1, 'd': 2}

In [1]:

feedback = ["amazing", "satisfied", "bad", "could be better","exelent"]
feedback.append("not happy")
positive_count = sum(1 for comment in feedback if "great" in comment.lower() or "exelent" in comment.lower())
print(f"positive feedback count: {positive_count}")
print("user feedabck:")
for comment in feedback:
    print(f"-{comment}")

positive feedback count: 1
user feedabck:
-amazing
-satisfied
-bad
-could be better
-exelent
-not happy

In [6]:

def even_or_odd(num):
    if num%2==0:
        print ("the number is even")
    else:
        print("the number is odd")

In [5]:
even_or_odd(24)

the number is even

In [ ]:
def add(a,b):
    return a +b

In [ ]:
a = 10
b = 12
result = add(a,b)

22

In [13]:
def great(name = "Guest"):
    print(f"hellow dear{name}, hope u would enjoy it")

great()

hellow dearGuest, hope u would enjoy it

In [20]:
def print_numbers(*args):
    for i in args:
        print(i)

In [21]:
print_numbers(1,2,3,4,5,6,7,8,9,"args")

1
2
3
4
5
6
7
8
9
args

In [48]:
def print_details(**kwargs):
    print(kwargs)
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [49]:
print_details(name ="krish", age ="32", kilo= "jjjj")

{'name': 'krish', 'age': '32', 'kilo': 'jjjj'}
name:krish
age:32
kilo:jjjj

In [50]:
def print_it(*args, **kwargs):
    for val in args:
        print(f"potentional arg:{val}")
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [51]:
print_it(1,2,3,4,5,name ="krish", age ="32", kilo= "jjjj")

potentional arg:1
potentional arg:2
potentional arg:3
potentional arg:4
potentional arg:5
name:krish
age:32
kilo:jjjj

In [53]:
def multiply(a,b):
    return a*b,a
multiply(3,4)

(12, 3)

In [56]:
def convert_temperature(temp,uint):
    if uint =='C':
        return temp * 9/5 + 32
    elif uint == 'F':
        return (temp - 32) * 5/9
    else:
        return None

convert_temperature(42,'C')

107.6

In [57]:
def pass_strong(password):
    if len(password) < 8:
        print("the password need to be more than 8 character")
        return False
    if not any(char.isdigit() for char in password):
        print("the password need to have digit in it")
        return False
    if not any(char.isupper() for char in password):
        print("the password need to have uppercase in it")
        return False
    if not any(char in '!@$^^*' for char in password):
        print("the password need to have special in it")
        return False
    return True

In [58]:
pass_strong("133w")

the password need to be more than 8 character

False

In [59]:
cart = [
    {'name':'apple','quantity':2, 'price':1000},
    {'name':'milk','quantity':4, 'price':10000},
    {'name':'socks','quantity':1, 'price':55000}
]
total_cost = 0

def calculate_items(cart):
    total_cost = 0
    for item in cart:
        total_cost += item['price']*item['quantity']
    return total_cost

calculate_items(cart)

97000

In [64]:
def is_palindrome(s):
    s = s.lower().replace(" ","")
    "so this part would reverse the string"
    return s==s[::-1]

In [66]:
print(is_palindrome("A Man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

In [71]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)

In [72]:
factorial(6)

720

In [ ]:
def count_word_freq(file_path):

In [73]:
lambda arguments: expression

In [76]:
addition = lambda a,b:a+b
print(addition(1,2))

3

In [78]:
even = lambda a:a%2==0
even(4)

True

In [79]:
def sq(x):
    return x*x

numbers = [1,2,3,4,5,6,7,8,9,0]

In [82]:
list(map(sq, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [84]:
list(map(lambda x:x*x, numbers) )

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [86]:
numbers1 = [1,2,3,5,6]
numbers2 = [4,5,9,8,7]
added_numbers = list(map(lambda x,y:x+y, numbers1,numbers2))
print(added_numbers)

[5, 7, 12, 13, 13]

In [87]:
str_num = ['2','1','3','4','7']
int_num = list(map(int,str_num))
print(int_num)

[2, 1, 3, 4, 7]

In [88]:
words = ['apple','you','benana']
upper_word = list(map(str.upper,words))
print(upper_word)

['APPLE', 'YOU', 'BENANA']

In [89]:
def even(num):
    if num%2==0:
        return True

In [90]:
lst = []
def createdf(i):
    for i in range(i,i+10):
        lst.append(i)
    return lst

print(createdf(6))

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
list(filter(even,lst))

[6, 8, 10, 12, 14]

In [95]:
greater_than_five = list(filter(lambda x:x>5,lst))
print(greater_than_five)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [96]:
greater_than_five = list(filter(lambda x:x>5 and x%2==0, lst))
print(greater_than_five)

[6, 8, 10, 12, 14]

In [98]:
people = [
    {'name':'krish','age':22},
    {'name':'sd','age':14},
    {'name':'md','age':40}    
]

def agemorethan20(person):
    return person['age'] >15

list(filter(agemorethan20,people))

[{'name': 'krish', 'age': 22}, {'name': 'md', 'age': 40}]

In [3]:
class car:
    pass

audi = car()
audi.window =4
print(audi.window)

4

In [7]:
class dog:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
    def bark(self):
        print(f"{self.name} says woof") 
       
       
dog1 = dog("mary",23)   
dog1.bark()

mary says woof

In [ ]:
class bank:
    def __init__(self,name,balance = 0):
        self.name = name
        self.balance = balance
        
    def deposite(self,amount):
        self.balance += amount
        print(f"{amount} send to your account. now your budget is{self.balance}")
    
    def widraw(self,amount):
        if amount > self.balance:
            print("you dont have enough budget")
        else:
            self.balance -= amount
        print(f"{amount} take from your account. now your budget is{self.balance}")
    
    def get_balance(self):
        return self.balance

account = bank("masi", 10000)

In [15]:
account.widraw(150000)

you dont have enough budget
150000 take from your account. now your budget is10000