In [5]:
import tensorflow as tf
import pickle
from tensorflow.keras.models import load_model
import pandas as pd
import numpy as np

In [6]:
model = load_model('model.h5')

with open('onehotencodergeo.pkl', 'rb') as file:
    onehotencodergeo = pickle.load(file)
    
with open('labelencodergender.pkl', 'rb') as file:
    labelencodergender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [12]:
input_data= {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,  
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [13]:

geo_encoded = onehotencodergeo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehotencodergeo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Program Files\Python312\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [15]:
input_df = pd.DataFrame([input_data])
input_df['Gender'] = labelencodergender.transform(input_df['Gender'])
input_df = pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [16]:
input_scaled = scaler.transform(input_df)

In [17]:
prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 171ms/step

array([[0.03599161]], dtype=float32)

In [19]:
prediction_pro = prediction[0][0]
print(prediction_pro)

0.03599161